.sideDraw{
    width: 70%;
    height: 100vh;
    background: #fff;
    position: fixed;
    top:0;
    left:0;
    z-index:200;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.show {
    transform: translateX(0);
}
/* .sideDraw.show {
    transform: translateX(0);
} */

.sideDrawerLinks {
 display: flex;
 flex-direction: column;
 list-style: none;
}

.sideDrawerLinks > li {
    display: flex;
    align-items: center;
}

.sideDrawerLinks > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    padding: 1rem;
    text-decoration: none;
    color: #171717;
    font-size: 1.6rem;
}

.sideDrawerLinks > li > a:hover {
    background: #171717;
    color:#f4f4f4;
}

.sideDrawerLinks > li > a >span {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.sideDrawerBadge {
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30px;
    height: 30px;
    background: #171717;
    border-radius: 50%;
    font-size: 1rem;
    color:#f4f4f4;
    margin-left: 8px;
    } 

.sideDrawerLinks > li > a:hover .sideDrawerBadge{
    background:#f4f4f4;
    color:#171717;
}

@media(min-width:960px){
    .sideDraw{
        display: none;
    }
}